django
python-dotenv
djangorestframework
celery[redis]
django-redis
xer-reader
asyncio
langchain
langchain-openai
langchain-google-genai
langgraph
tenacity
tiktoken
kombu
waitress
Pillow
redis
rq
django-rq
numpy
decord
opencv-python-headless==4.12.0.88
django-cors-headers
